{% load static %}
<link rel="stylesheet" href="{% static 'main/css/ui.css' %}" />

<script src="{% static 'main/js/ui.js' %}"></script>


{% block content %}
<div class="settings">
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3 m2 l1">
                    <a href="/">
                        <i class="material-icons">
                            home
                        </i>
                    </a>
                </li>
                <li class="tab col s3 m2 l1">
                    <a onclick="viewPage();">
                        <i class="material-icons">
                            fullscreen
                        </i>
                    </a>
                </li>
                <li class="tab col s3 m2 l1">
                    <a class="mood-identificator">
                        <i class="material-icons black-text">
                        </i>
                    </a>
                </li>
                <li class="tab col s3 m2 l1" id="sound" onclick="on();">
                    <a href="#test3">
                        <i class="material-icons">
                            music_note
                        </i>
                    </a>
                </li>

                <li class="tab col s3 m2 l1">
                    <a href="#test4">
                        <i class="material-icons">
                            exit_to_app
                        </i>
                    </a>
                </li>
            </ul>
        </div>
    </div>


</div>

{% endblock %}