<!--  C S S  -->
{% load static %}
<link rel="stylesheet" href="{% static 'main/css/widget.css' %}" />

<!--  M A I N   C O N T E N T  -->
{% block content %}
    

    
    <div class="container blue lighten-3 valign-wrapper">
        <div class="music">
            <video id="video"></video>
            <canvas id="canvas" style="display: none"></canvas><br>
            <div class="emotions">Emotions!!</div>
            <div class="controls">
                <a class="waves-effect waves-light btn-large blue darken-4" onclick="snap();">Start</a>
            </div>
        </div>
    </div>
    


{% endblock %}

<!--  J A V A   S C R I P T  -->
{% load static %}
<script src="{% static 'main/js/widget.js' %}" type="text/javascript"></script>
<script src="{% static 'main/js/model_pca_20_svm_emotionDetection.js' %}" type="text/javascript"></script>
<script src="{% static 'main/js/emotion_classifier.js' %}" type="text/javascript"></script>
<script src="{% static 'main/js/emotionmodel.js' %}" type="text/javascript"></script>
<script src="{% static 'main/js/clmtrackr.js' %}" type="text/javascript"></script>
<script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>

