{% load static %}
<link rel="stylesheet" href="{% static 'main/css/widget.css' %}" />


<!--  M A I N   C O N T E N T  -->
{% block content %}
<div class="widget">
    <!--            C A M E R A                    -->
    <div class="camera">
        <video id="video" muted="muted" style="   position: absolute;
        top: -9999px;
        left: -9999px;"></video>
        <canvas id="canvas" style="display: none;"></canvas>
        <br>

        <div class="controls center">
            <a class="waves-effect waves-light btn-large" onclick="snap();">Start</a>
        </div>
    </div>
    <!-- E M O T I O N     R E C O G N I Z E R     -->
    <div class="emotions" style="display: none;">

        <br> Image to analyze:
        <input type="text" name="inputImage" id="inputImage" value="" />

        <div id="wrapper" style="width:1020px; display:table;">
            <div id="jsonOutput">
                Response:
                <br>
                <br>

                <textarea id="responseTextArea" class="UIInput"></textarea>
            </div>
            <div id="imageDiv" style="width:420px; display:table-cell;">
                Source image:
                <br>
                <br>

                <img id="sourceImage" width="400" />
            </div>
        </div>
        <div class="hidden_image_field"></div>
    </div>
    <!--    S U G G E S T E D   M U S I C        -->
    <div class="music">

        <section id="youtube-api-result">
        </section>


    </div>


</div>



{% endblock %} {% load static %}
<script src="{% static 'main/js/widget.js' %}"></script>