:root {
	--mainColor: #323233;
	--secondaryColor: #fff;
	--thirdColor: #2962ff;
	--windowHeight: 100vh;
	--windowWidth: 100vw;
}

html {
	font-size: 16px;
	color: var(--secondaryColor);
}

.window {
	height: 100vh;
	width: 100%;
	overflow-x: hidden;
	background: var(--mainColor);
}
