
@media only screen and (max-width: 640px) {
    .settings {
        bottom: 0;
        width: var(--windowWidth);
    }
    .row {
        margin-bottom: 0;
    }
    .tabs {
        background: none;
    }
    .tabs .tab a {
        color: var(--secondaryColor);
        font-size: 10px;
        
    }
    .material-icons {
        display: inline-flex;
        vertical-align: top;
    }
}