.settings {
    position: absolute;
    bottom: 0;
    left: 0;
    width: var(--windowWidth);
}

.row {
    margin-bottom: 0;
}

.tabs {
    background: none;
}

.tabs .tab a {
    cursor: pointer;
}

.state-identificator {
    position: absolute;
    right: 0;
    top: 0;
}

.toast-pos {
    background: var(--thirdColor);
}

#toast-container {
    top: calc(var(--windowHeight) - 97%);
    right: auto !important;
    bottom: auto !important;
    left: auto !important;
}

.btn-large {
    background: var(--thirdColor);
    -webkit-filter: brightness(90%);
    filter: brightness(90%);
}

.btn-large:hover {
    background: var(--thirdColor);
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
}

@media only screen and (max-width: 640px) {
    .tabs .tab a {
        color: var(--secondaryColor);
        font-size: 10px;
    }

    .material-icons {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        vertical-align: top;
    }
}