:root {
	--mainColor: #323233;
	--secondaryColor: #fff;
	--thirdColor: #2962ff;
	--windowHeight: 100vh;
	--windowWidth: 100vw;
}

html {
	font-size: 16px;
	color: var(--secondaryColor);
}

.window {
	height: 100vh;
	width: 100%;
	overflow-y: hidden;
	background: var(--mainColor);
	display: flex;
	align-items: center;
}

.widget {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas: 'c a m e' 'c a m e';
}

.camera {
	grid-area: c;
}

.emotions {
	grid-area: e;
}

.music {
	grid-area: m;
}

#audio-player {
	grid-area: a;
}

main {
	display: flex;
	flex-direction: row;
	padding: 10px;
}

.note {
	max-width: 500px;
	margin: 0 auto;
}

.circle-audio-player {
	display: block;
	margin: 0 auto;
	cursor: pointer;
}

#playerContainer {
	padding: 24px;
}

#youtube-api-result iframe {
	box-sizing: border-box;
}

/* 		MEDIA QUERIES			*/

@media only screen and (max-width: 640px) {
	html {
		font-size: 13px;
	}
	.widget {
		height: calc(var(--windowHeight) - 8%);
		position: absolute;
		top: 0;
		width: var(--windowWidth);
		background-color: rgb(5, 71, 71);
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-template-areas: 'm m m' 'a a a' 'c c c';
	}
	main {
		flex-direction: column;
	}
	#youtube-playlist {
		display: none;
	}
	.window {
		overflow-y: visible;
		overflow-x: hidden;
		width: 100vw;
	}
	.settings {
		position: absolute;
		bottom: 0;
		width: var(--windowWidth);
	}
	.row {
		margin-bottom: 0;
	}
	.tabs {
		background: none;
	}
	.tabs .tab a {
		color: var(--secondaryColor);
	}
	#video,
	#canvas {
		display: none;
	}
	.controls {
		text-align: center;
	}
	.emotions {
		display: none;
	}
}